
.error-page{

    height: 100vh;
    width: 100%;
}
.error-page .ant-row{
    flex-direction: column;
}

.error-page .box{
    width: 100%;
}

.error-page .box img{
    margin: auto;
    display: block;
    width: 80%;
    height: 850px;
}